.titlebar {
    margin: 10px auto;
    border: 5px solid #9bd;
    border-radius: 10px;
    padding: 5px;
    background-color: #3af;
    color: black;
    width: 400px;
    text-align: center;
}

.cardpane {
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
