.box{
    display: flex;
    gap: 300px 70px;
    
}

.src{
    width:  200px;
    height: 100px;
    object-fit: cover;
    margin-bottom:275px;
}
.limit{
    word-wrap: break-word;
    white-space: normal;
}